@model WebCinema.Models.MemberLevel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MemberLevel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequiredSpending)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiredSpending)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketPointPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPointPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComboPointPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComboPointPercent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemberLevelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
